# Flutter
**/build/
**/.dart_tool/
**/.packages
**/pubspec.lock
**/.flutter-plugins
**/.flutter-plugins-dependencies

# Node
**/node_modules/
**/dist/

# Python
**/__pycache__/
**/*.pyc
**/.venv/
**/venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Supabase
supabase/.temp/

# Env
.env
*.env.local
